<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{{ assetBuild('resources/js/main.css') }}" />
  <link rel="stylesheet" href="/remixicon/remixicon.css" />
</head>

<body>
  <div id="app"></div>

  @if(env == 'development')
  <script type="module" src="http://localhost:5173/@vite/client"></script>
  <script type="module" src="http://localhost:5173/resources/js/main.ts"></script>
  @else
  <script src="{{ assetBuild('resources/js/main.ts') }}"></script>
  @end
</body>

</html>
